.searchBar {


    background-image: repeating-linear-gradient(184deg, rgb(25,13,42) 0px, rgb(25,13,42) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(263deg, rgb(25,13,42) 0px, rgb(25,13,42) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(31deg, rgb(25,13,42) 0px, rgb(25,13,42) 19px,transparent 19px, transparent 21px),linear-gradient(90deg, rgb(229, 116, 117),rgb(178,184,223));

    padding-bottom: 2%;


}

.searchBar__title {
    padding-top: 3%;
    padding-bottom: 1%;
    color: #f9b609; 
    font-size: 1.9rem;
    font-weight: 800;
}

.items{
    width: 80%;
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
}

.story {
    border: solid 2px #f9b609;
    margin-right: 3%;
    margin-top: 5%;
    border-radius: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-top: 2%;
}

.edition{
    color: #000;
}

.searchBar__img{
    padding-top: 2%; 
}